* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1A2036;
  --card: #252B42;
  --title: #B1B9D8;
  --bg-card-new: #2E3650;
  --notification: #8E66FF;
}

body {
  background-color: var(--background);
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.card-content {
  margin: 0 auto;
  background-color: var(--card);
  width: 975px;
  height: 662px;
  border-radius: 25px;
  color: var(--title);
  font-family: 'Merriweather', serif;
}

.card-container {
  display: flex;
  padding: 35px 60px 35px 35px;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title img {
  width: 32px;
  height: 32px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 158px 15px;
  background-color: var(--background);
  gap: 5px;
  width: 88px;
  height: 592px;
  border-radius: 20px;
}

aside a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  transition: all 300ms ease-in;
}

aside img {
  width: 100%;
  height: auto;
  max-width: 32px;
  display: block;
}

aside a:hover {
  background-color: var(--card);
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 60px 0 40px;
}

.wrapper.active {
  padding-right: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}

.switcher {
  display: flex;
  align-items: center;
}

.switcher button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--background);
  transition: background-color 300ms ease-in;
}

.switcher button.active {
  background-color: var(--background);
}

.switcher button:first-child {
  border-radius: 10px 0 0 10px;
}

.switcher button:last-child {
  border-radius: 0 10px 10px 0;
}

.card-new {
  background-color: var(--bg-card-new);
  width: 173px;
  height: 208px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  opacity: 0;
  animation: cardAnimation 500ms ease-out forwards;
  transition: 300ms ease-in-out;
}

.card-new span {
  font-size: 14px;
}

.card-new button {
  border: none;
  background-color: var(--background);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.card-new span {
  font-size: 14px;
  font-weight: 500px;
}

.card-new:hover {
  background-color: var(--background);
}

.card-new:hover button {
  background-color: var(--bg-card-new);
}

.group-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  width: 100%;
  max-height: 450px;
  overflow: auto;
  overflow-x: hidden;
}

.group-list.active {
  grid-template-columns: 1fr;
}

.group-list.active>div {
  width: 100%;
  animation: cardAnimationColumn 500ms ease-out forwards;
}

.cards {
  background-color: var(--background);
  width: 173px;
  height: 208px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  opacity: 0;
  animation: cardAnimation 500ms ease-out forwards;
}

.cards img {
  transition: all 300ms ease-in-out;
}

.cards:hover>img {
  scale: 1.1;
  cursor: pointer;
}

.card-new {
  animation-delay: 200ms !important;
}

.cards:nth-child(2) {
  animation-delay: 300ms !important;
}

.cards:nth-child(3) {
  animation-delay: 400ms !important;
}

.cards:nth-child(4) {
  animation-delay: 500ms !important;
}

.cards:nth-child(5) {
  animation-delay: 600ms !important;
}

.cards:nth-child(6) {
  animation-delay: 700ms !important;
}

.cards:nth-child(7) {
  animation-delay: 800ms !important;
}

.cards img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cards span:nth-child(3) {
  font-size: 18px;
}

.cards span:nth-child(4) {
  font-family: 'IBM Plex Sans', serif;
}

.notification {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 11px;
  height: 11px;
  background-color: var(--notification);
  border-radius: 50%;
  animation: notification 2s infinite;
}

@keyframes cardAnimation {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cardAnimationColumn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes notification {
  0% {
    box-shadow: 0 0 5px 2px rgba(142, 102, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 3px 9px rgba(142, 102, 255, 0);
  }

  100% {
    box-shadow: 0 0 5px 2px rgba(142, 102, 255, 0.5);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b1b9d8 #252b42;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #b1b9d8;
  border-radius: 5px;
}